<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
        <script>
            function addToFavorites() {
                // turn record into string from back-end to front-end and make it into an object (json.parse)
                // happens in front-end
                const parsedRecord = JSON.parse(
                    // happens in back-end because of the percent thingy
                    // using - because with =, it would escape/different format special characters
                    `<%- JSON.stringify(record) %>`
                );
                // gets string out of localStorage
                const oldFavorites = localStorage.getItem('favorites');

                // if there was something in localstorage (you can only have strings in localstorage)
                // oldfavorites is an array of objects thats a string
                if (oldFavorites) {
                    // json.parse turns it back into an array from localstorage
                    const oldFavoritesParsed = JSON.parse(oldFavorites);
                    // take all the old favorites, except the one you're on right now which is parsedRecord (current item on the page)
                    // otherwise its twice in there
                    const favoritesWithoutRecord = oldFavoritesParsed.filter(
                        (favorite) => favorite.id !== parsedRecord.id
                    );

                    // make new array
                    const newFavorites = [
                        // with favorites from before (localstorage) and the parsedRecord (the one you're favoriting right now), make new arrat
                        ...favoritesWithoutRecord,
                        parsedRecord,
                    ];

                    // turn new array into string and save it into localsotrage in the key "favorites"
                    localStorage.setItem(
                        'favorites',
                        JSON.stringify(newFavorites)
                    );
                } else {
                    // if there's no localstorage:
                    // make new array
                    const newFavorites = [parsedRecord];
                    // puts it into localStorage
                    localStorage.setItem(
                        // in the key 'favorites'
                        'favorites',
                        // only strings go into localstorage
                        JSON.stringify(newFavorites)
                    );
                }
            }
        </script>
    </head>

    <body>
        <%- include("../partials/nav");%>
        <h1 class="detail-title"><%= record.titles[0] %></h1>

        <!-- animation image -->
        <div class="animation">
            <img
                src="/images/character/animation/frame1.png"
                alt="circle for animation"
            />
        </div>

        <div class="detail-pagina">
            <div class="left-cover">
                <button class="secondary-button" onclick="history.back()">
                    &lt; Terug
                </button>

                <div class="left-image-buttons">
                    <!-- if coverimages is an array, then use the last image, otherwise use the fallback image -->

                    <img
                        src="<%= Array.isArray(record.coverimages) ? record.coverimages[record.coverimages.length - 1] : '/images/fallback/thumbnail.png' %>"
                    />
                    <div class="action-buttons">
                        <!-- add to favourites -->
                        <button
                            onclick="addToFavorites()"
                            class="favorite-button"
                        >
                            Favoriet
                            <div class="heart-icon">
                                <img
                                    src="/images/icons/like-hover.svg"
                                    alt=""
                                />
                            </div>
                        </button>

                        <button class="share-button">
                            Delen
                            <div class="share-icon">
                                <img
                                    src="/images/icons/share-hover.svg"
                                    alt=""
                                />
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="right-cover">
                <% if (Array.isArray(record.summaries) &&
                record.summaries.length > 0) { %>
                <section>
                    <h3 class="summary">Samenvatting</h3>
                    <p><%= record.summaries[0] %></p>
                </section>
                <% } %> <% if (Array.isArray(record.genres) &&
                record.genres.length > 0) { %>
                <section>
                    <h3>Thema</h3>
                    <p><%= record.genres[0] %></p>
                </section>
                <% } %> <% if (Array.isArray(record.authors) &&
                record.authors.length > 0) { %>
                <section>
                    <h3>Auteur</h3>
                    <p><%= record.authors.join(', ') %></p>
                </section>
                <% } %> <% if (Array.isArray(record.publisher) &&
                record.publisher.length > 0) { %>
                <section>
                    <h3>Uitgever</h3>
                    <p><%= record.publisher[0] %></p>
                </section>
                <% } %> <% if (Array.isArray(record.languages) &&
                record.languages.length > 0) { %>
                <section>
                    <h3>Taal</h3>
                    <p><%= record.languages.join(', ') %></p>
                </section>
                <% } %> <% if (Array.isArray(record.formats) &&
                record.formats.length > 0) { %>
                <section>
                    <h3>Formaat</h3>
                    <p><%= record.formats.map((format) => format.text) %></p>
                </section>
                <% } %> <% if (Array.isArray(record.isbn) && record.isbn.length
                > 0) { %>
                <section>
                    <h3>ISBN</h3>
                    <p><%= record.isbn.toString().replace(/^=/, '') %></p>
                </section>
                <% } %>

                <div class="button-container">
                    <a
                        class="secondary-button"
                        href="<%= record.detailLink %>"
                        class="secondary-button hi"
                        >OBA Website</a
                    >
                    <button class="primary-button" id="dialog-button">
                        Waar ligt dit?
                    </button>

                    <dialog id="modal">
                        <img
                            src="/images/dialog/locatie.png"
                            alt="location text should be here"
                        />
                        <button class="primary-button" id="close-button">
                            Sluiten
                        </button>
                    </dialog>
                </div>
            </div>
        </div>
    </body>
</html>
