<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
    </head>

    <body>
        <%- include("../partials/nav");%>
        <h1 class="oba-title">OBA Catalogus</h1>

        <!-- animation image -->
        <div class="animation">
            <img
                src="/images/character/animation/frame1.png"
                alt="circle for animation"
            />
        </div>

        <div class="detail-pagina">
            <div class="left-cover">
                <button class="secondary-button" onclick="history.back()">
                    &lt; Terug
                </button>

                <div>
                    <!-- if coverimages is an array, then use the last image, otherwise use the fallback image -->

                    <img
                        src="<%= Array.isArray(record.coverimages) ? record.coverimages[record.coverimages.length - 1] : '/images/fallback/thumbnail.png' %>"
                    />
                    <div class="action-buttons">
                        <button>
                            Favoriet
                            <div class="heart-icon"></div>
                        </button>

                        <button>
                            Delen
                            <div class="share-icon"></div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="right-cover">
                <h2><%= record.titles[0] %></h2>

                <% if (Array.isArray(record.summaries) &&
                record.summaries.length > 0) { %>
                <section>
                    <h3 class="summary">Samenvatting</h3>
                    <p><%= record.summaries[0] %></p>
                </section>
                <% } %> <% if (Array.isArray(record.genres) &&
                record.genres.length > 0) { %>
                <section>
                    <h3>Thema</h3>
                    <p><%= record.genres[0] %></p>
                </section>
                <% } %> <% if (Array.isArray(record.authors) &&
                record.authors.length > 0) { %>
                <section>
                    <h3>Auteur</h3>
                    <p><%= record.authors.join(', ') %></p>
                </section>
                <% } %> <% if (Array.isArray(record.publisher) &&
                record.publisher.length > 0) { %>
                <section>
                    <h3>Uitgever</h3>
                    <p><%= record.publisher[0] %></p>
                </section>
                <% } %> <% if (Array.isArray(record.languages) &&
                record.languages.length > 0) { %>
                <section>
                    <h3>Taal</h3>
                    <p><%= record.languages.join(', ') %></p>
                </section>
                <% } %> <% if (Array.isArray(record.formats) &&
                record.formats.length > 0) { %>
                <section>
                    <h3>Formaat</h3>
                    <p><%= record.formats.map((format) => format.text) %></p>
                </section>
                <% } %> <% if (Array.isArray(record.isbn) && record.isbn.length
                > 0) { %>
                <section>
                    <h3>ISBN</h3>
                    <p><%= record.isbn.toString().replace(/^=/, '') %></p>
                </section>
                <% } %>

                <div class="button-container">
                    <a
                        class="secondary-button"
                        href="<%= record.detailLink %>"
                        class="secondary-button hi"
                        >OBA Website</a
                    >
                    <button class="primary-button" id="dialog-button">
                        Waar ligt dit?
                    </button>

                    <dialog id="modal">
                        <img
                            src="/images/dialog/locatie.png"
                            alt="location text should be here"
                        />
                        <button class="primary-button" id="close-button">
                            Sluiten
                        </button>
                    </dialog>
                </div>
            </div>
        </div>
    </body>
</html>
